.nav {
  &__checkbox {
    display: none;

    /* &:focus ~ .nav__button {
      .nav__icon {
        &::before {
          top: -1.2rem;
        }
        &::after {
          top: 1.2rem;
        }
      }
    } */
  }

  &__button {
    display: none;
    font-size: 20px;
    height: 7rem;
    width: 7rem;
    float: right;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-top: 4rem;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;
    &,
    &::before,
    &::after {
      width: 4.5rem;
      height: 4px;
      background-color: $color-white;
      border-radius: 4px;
      display: inline-block;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.4s cubic-bezier(0.12, 0, 0.39, 0);
    }
    &::before {
      top: -1rem;
    }
    &::after {
      top: 1rem;
    }
  }
  &__button:hover &__icon::before {
    top: -1.2rem;
  }
  &__button:hover &__icon::after {
    top: 1.2rem;
  }
}
