.nav {
  grid-column: col-start 2 / col-end 11;
}
.nav__container {
  grid-column: col-start 2 / col-end 11;
  margin-top: 2rem;
  background-color: transparent;
  color: #fff;
  display: grid;
  grid-template-columns: 100px 1fr;

  position: relative;
  z-index: 1;

  .logo {
    width: 80%;
    margin-top: 10px;
    margin-left: 12px;
  }

  .menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    li {
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.4rem;
        margin-top: 2.5rem;
        display: flex;
        align-items: right;
        padding: 0.5rem 1rem;
        font-family: $font-family;
        letter-spacing: 0.1em;
        text-shadow: 3px 2px 4px black;
        font-weight: bold;
        transition: color 0.5s cubic-bezier(0, 0.48, 0.24, 0.82);
        &:hover {
          color: $color-secundary;
        }
      }
    }
    .nav-link {
      transition: opacity 0.4s ease-in-out,
        transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);

      &:nth-of-type(2) {
        transition-delay: 0.1s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.2s;
      }
      &:nth-of-type(4) {
        transition-delay: 0.3s;
      }
      &:nth-of-type(5) {
        transition-delay: 0.4s;
      }
    }
    &__active {
      border: 2px solid red;
      border-radius: 1.2rem;
      padding: 2rem 1rem;
    }
  }
}
